:host {
  width: 90%;
}

.input {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10px;
  width: 30%;
}

.todos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
